* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html body {
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  padding: 0;
  margin: 0;
}

body > header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100px;
  width: 100%;
  height: 100px;
}

body > header .logo {
  font-size: 40px;
  line-height: 60px;
  padding: 5px 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body > header .nav-menu {
  float: right;
  font-size: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body > header .nav-menu .nav-menu-item {
  font-size: 18px;
  display: inline-block;
  padding: 5px 10px;
  line-height: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body > header.small .logo {
  height: 60px;
  font-size: 20px;
  line-height: 40px;
}

body > header.small .nav-menu .nav-menu-item {
  font-size: 14px;
  display: inline-block;
  padding: 5px 10px;
  line-height: 40px;
}

.page-container {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

.page-container #landing {
  width: 100%;
  height: 100vh;
  padding: 100px 30px 0 30px;
  position: relative;
}

.page-container #landing .about {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  max-height: 400px;
  height: 100%;
  width: 100%;
}

.page-container #landing .about .description {
  font-size: 20px;
  padding: 50px;
  text-align: justify;
}

.page-container #jyutping-table {
  width: 100%;
  min-height: 100vh;
  padding: 60px;
}

@media screen and (max-width: 1024px) {
  .page-container #jyutping-table {
    padding: 60px 20px;
  }
}

@media screen and (max-width: 320px) {
  .page-container #jyutping-table {
    padding: 60px 0;
  }
}

.page-container #jyutping-table .wrapper {
  margin: 10px auto;
  text-align: center;
}

.page-container #jyutping-table .wrapper .table {
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  min-height: 600px;
  text-align: center;
}

.page-container #jyutping-table .wrapper .table.initials-container {
  width: 320px;
}

.page-container #jyutping-table .wrapper .table.vowel-container {
  width: 160px;
}

.page-container #jyutping-table .wrapper .table.vowel-tail-container {
  width: 240px;
}

.page-container #jyutping-table .wrapper .table.tone-container {
  width: 80px;
}

.page-container #jyutping-table .wrapper .table.vowel-container .content > div, .page-container #jyutping-table .wrapper .table.vowel-tail-container .content > div {
  width: 80px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 768px) {
  .page-container #jyutping-table .wrapper .table {
    width: 320px !important;
  }
  .page-container #jyutping-table .wrapper .table.vowel-container .content > div {
    width: 160px;
  }
  .page-container #jyutping-table .wrapper .table.vowel-container .content > div > div:first-child {
    width: 160px;
  }
}

@media screen and (max-width: 600px) {
  .page-container #jyutping-table .wrapper .table {
    min-height: 400px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .page-container #jyutping-table .wrapper .table {
    margin: 20px 0;
  }
}

.page-container #jyutping-table .wrapper .table .header,
.page-container #jyutping-table .wrapper .table .foooter {
  width: 100%;
}

.page-container #jyutping-table .wrapper .table .content {
  display: block;
  font-size: 0;
}

.page-container #jyutping-table .wrapper .table .content .item {
  float: left;
  position: relative;
  width: 80px;
}

.page-container #jyutping-table .wrapper .table .content .item:empty {
  height: 80px;
}

.page-container #jyutping-table .wrapper .table .content .item > .description {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.page-container #jyutping-table .wrapper .table .content .item > .symbol {
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.page-container #jyutping-table .wrapper .table .content .item > .symbol.soft {
  font-weight: 100;
  color: #999;
}

.page-container #jyutping-search {
  width: 100%;
  min-height: 100vh;
  padding: 60px;
}

@media screen and (max-width: 320px) {
  .page-container #jyutping-search {
    padding: 40px 0;
  }
}

.page-container #jyutping-search .search-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 60px auto;
}

.page-container #jyutping-search .search-wrapper .search-header {
  width: 100%;
}

.page-container #jyutping-search .search-wrapper .search-header .search-trigger {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  font-size: 0;
  text-align: center;
}

.page-container #jyutping-search .search-wrapper .search-header .search-trigger li {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: 40%;
  padding: 20px;
}

.page-container #jyutping-search .search-wrapper .search-header .search-trigger li.active {
  background: rgba(100, 100, 100, 0.4);
}

.page-container #jyutping-search .search-wrapper .search-content {
  width: 100%;
  min-height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.page-container #jyutping-search .search-wrapper .search-content .search-box {
  display: none;
}

.page-container #jyutping-search .search-wrapper .search-content .search-box .form-container {
  width: 100%;
  height: 50px;
  padding: 20px;
}

.page-container #jyutping-search .search-wrapper .search-content .search-box .search-result {
  width: 100%;
}

.page-container #jyutping-search .search-wrapper .search-content .search-box .search-result .items {
  width: 100%;
  padding: 10px;
  position: relative;
}

.page-container #jyutping-search .search-wrapper .search-content .search-box .search-result .items:nth-child(odd) {
  background: rgba(180, 180, 180, 0.4);
}

.page-container #jyutping-search .search-wrapper .search-content .search-box .search-result .items > * {
  display: inline-block;
  width: 100%;
  padding: 5px;
}

.page-container #jyutping-search .search-wrapper .search-content .search-box .search-result .items > * > label {
  font-weight: bold;
  padding: 0px 5px;
}

.page-container #jyutping-search .search-wrapper .search-content .search-box .search-result .items .item-char {
  font-size: 36px;
  line-height: 50px;
  weight: 50px;
}

.page-container #jyutping-search .search-wrapper .search-content .search-box.active {
  display: block;
}
